# Flask and extensions
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Werkzeug==2.3.7

# Web scraping
selenium==4.9.1
beautifulsoup4==4.12.3
requests==2.31.0

# Database
psycopg2-binary==2.9.6

# Utilities
python-dotenv==1.0.0
pandas==2.2.1

# Additional dependencies
sqlalchemy==2.0.15
webdriver-manager==3.8.6

